#app-title {
  background-image: linear-gradient(315deg, #ffffb5 0%, #247ba0 74%);

  h1 {
    text-align: center;
  }
}

.home-link {
  background-color: #88b7aa;
  border: 1px solid #000000;
  text-align: center;
  padding: 10px;
}
