* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: #2a708f;
}

$grid__bp-md: 768;
$grid__cols: 12;
.container {
  max-width: $grid__bp-md * 1px;
  margin: 0 auto;

  &--fluid {
    margin: 0;
    max-width: 100%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  @for $i from 1 through $grid__cols {
    .col-#{$i} {
      flex-basis: (100 / ($grid__cols / $i)) * 1%;
    }
  }

  .card {
    background-image: linear-gradient(315deg, #247ba0 0%, #ffffb5 74%);
    padding: 15px;
    margin: 10px 0;
    .info {
      align-self: center;
      .name {
        border-bottom: 1px solid #000000;
      }
    }
    .description {
      border-top: 1px solid #000000;
    }
    .images {
      max-width: 100%;
      padding: 15px;
    }
  }
}

.categoryTitle {
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(315deg, #a0ddf7 0%, #f1f177 74%);
}

.home-link {
  background-color: #88b7aa;
  border: 1px solid #000000;
  text-align: center;
  padding: 10px;
}

.link {
  color: #000000;
  text-decoration: none; /* no underline */
}
